In [38]:
import pandas as pd

df0 = pd.read_csv('./World Energy Consumption.csv')

df0.head()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df0 = df0[['iso_code', 
           'country', 
           'year',
           'biofuel_electricity', 
           'hydro_electricity',
           'nuclear_electricity',
           'solar_electricity',
           'wind_electricity', 
           'other_renewable_electricity',
           'coal_electricity',
           'gas_electricity',
           'oil_electricity',
           'biofuel_elec_per_capita', 
           'hydro_elec_per_capita',
           'nuclear_elec_per_capita',
           'solar_elec_per_capita',
           'wind_elec_per_capita', 
           'coal_elec_per_capita',
           'gas_elec_per_capita',
           'oil_elec_per_capita',
           'population'
          ]]

df0

,iso_code,country,year,biofuel_electricity,hydro_electricity,nuclear_electricity,solar_electricity,wind_electricity,other_renewable_electricity,coal_electricity,...,oil_electricity,biofuel_elec_per_capita,hydro_elec_per_capita,nuclear_elec_per_capita,solar_elec_per_capita,wind_elec_per_capita,coal_elec_per_capita,gas_elec_per_capita,oil_elec_per_capita,population
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5021241.0
1,AFG,Afghanistan,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5053439.0
2,AFG,Afghanistan,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5085403.0
3,AFG,Afghanistan,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5118005.0
4,AFG,Afghanistan,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5150814.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,0.128,4.940,0.0,0.008,0.0,0.128,4.312,...,0.0,9.265,357.582,0.0,0.579,0.0,312.109,0.0,0.0,13815000.0
17428,ZWE,Zimbabwe,2016,0.147,2.955,0.0,0.009,0.0,0.147,3.715,...,0.0,10.478,210.620,0.0,0.641,0.0,264.781,0.0,0.0,14030000.0
17429,ZWE,Zimbabwe,2017,0.151,3.929,0.0,0.011,0.0,0.151,3.219,...,0.0,10.606,275.971,0.0,0.773,0.0,226.070,0.0,0.0,14237000.0
17430,ZWE,Zimbabwe,2018,0.187,5.000,0.0,0.014,0.0,0.187,3.932,...,0.0,12.951,346.284,0.0,0.970,0.0,272.319,0.0,0.0,14439000.0
17431,ZWE,Zimbabwe,2019,0.207,5.020,0.0,0.014,0.0,0.207,3.805,...,0.0,14.112,342.779,0.0,0.956,0.0,259.845,0.0,0.0,14645000.0

In [40]:
df0 = df0[df0['year'].between(2014, 2019)]

In [41]:
df = df0.melt(id_vars=['iso_code', 'country', 'year', 'population'],
              var_name='fuel',
              value_name='production'
)

df

      iso_code      country  year  population                 fuel  production
0          AFG  Afghanistan  2014  33371000.0  biofuel_electricity         0.0
1          AFG  Afghanistan  2015  34414000.0  biofuel_electricity         0.0
2          AFG  Afghanistan  2016  35383000.0  biofuel_electricity         0.0
3          AFG  Afghanistan  2017  36296000.0  biofuel_electricity         0.0
4          AFG  Afghanistan  2018  37172000.0  biofuel_electricity         0.0
...        ...          ...   ...         ...                  ...         ...
24016      ZWE     Zimbabwe  2015  13815000.0  oil_elec_per_capita         0.0
24017      ZWE     Zimbabwe  2016  14030000.0  oil_elec_per_capita         0.0
24018      ZWE     Zimbabwe  2017  14237000.0  oil_elec_per_capita         0.0
24019      ZWE     Zimbabwe  2018  14439000.0  oil_elec_per_capita         0.0
24020      ZWE     Zimbabwe  2019  14645000.0  oil_elec_per_capita         0.0

[24021 rows x 6 columns]

In [42]:
df.loc[(df['country'] == 'Brazil') & (df['year'] == 2018)]

,iso_code,country,year,population,fuel,production
166,BRA,Brazil,2018,209468992.0,biofuel_electricity,53.911
1579,BRA,Brazil,2018,209468992.0,hydro_electricity,385.081
2992,BRA,Brazil,2018,209468992.0,nuclear_electricity,15.674
4405,BRA,Brazil,2018,209468992.0,solar_electricity,3.461
5818,BRA,Brazil,2018,209468992.0,wind_electricity,48.475
7231,BRA,Brazil,2018,209468992.0,other_renewable_electricity,53.911
8644,BRA,Brazil,2018,209468992.0,coal_electricity,22.241
10057,BRA,Brazil,2018,209468992.0,gas_electricity,51.345
11470,BRA,Brazil,2018,209468992.0,oil_electricity,11.422
12883,BRA,Brazil,2018,209468992.0,biofuel_elec_per_capita,257.370
14296,BRA,Brazil,2018,209468992.0,hydro_elec_per_capita,1838.368
15709,BRA,Brazil,2018,209468992.0,nuclear_elec_per_capita,74.827
17122,BRA,Brazil,2018,209468992.0,solar_elec_per_capita,16.523
18535,BRA,Brazil,2018,209468992.0,wind_elec_per_capita,231.419
19948,BRA,Brazil,2018,209468992.0,coal_elec_per_capita,106.177
21361,BRA,Brazil,2018,209468992.0,gas_elec_per_capita,245.121
22774,BRA,Brazil,2018,209468992.0,oil_elec_per_capita,54.529

In [43]:
#df_pc = df.loc[df['type'].str.contains(r'[a-z]+_per_capita')]
#df_elec = df.loc[df['type'].str.contains(r'[a-z]+_electricity')]

def split_type(row):
    if row['fuel'].find('per_capita') != -1:
        value = row['production']
    else:
        value = 0
    return value

df['per_capita'] = df.apply(split_type, axis=1)

df

,iso_code,country,year,population,fuel,production,per_capita
0,AFG,Afghanistan,2014,33371000.0,biofuel_electricity,0.0,0.0
1,AFG,Afghanistan,2015,34414000.0,biofuel_electricity,0.0,0.0
2,AFG,Afghanistan,2016,35383000.0,biofuel_electricity,0.0,0.0
3,AFG,Afghanistan,2017,36296000.0,biofuel_electricity,0.0,0.0
4,AFG,Afghanistan,2018,37172000.0,biofuel_electricity,0.0,0.0
...,...,...,...,...,...,...,...
24016,ZWE,Zimbabwe,2015,13815000.0,oil_elec_per_capita,0.0,0.0
24017,ZWE,Zimbabwe,2016,14030000.0,oil_elec_per_capita,0.0,0.0
24018,ZWE,Zimbabwe,2017,14237000.0,oil_elec_per_capita,0.0,0.0
24019,ZWE,Zimbabwe,2018,14439000.0,oil_elec_per_capita,0.0,0.0
24020,ZWE,Zimbabwe,2019,14645000.0,oil_elec_per_capita,0.0,0.0

In [44]:
df.loc[(df['country'] == 'Brazil') & (df['year'] == 2018)]

,iso_code,country,year,population,fuel,production,per_capita
166,BRA,Brazil,2018,209468992.0,biofuel_electricity,53.911,0.000
1579,BRA,Brazil,2018,209468992.0,hydro_electricity,385.081,0.000
2992,BRA,Brazil,2018,209468992.0,nuclear_electricity,15.674,0.000
4405,BRA,Brazil,2018,209468992.0,solar_electricity,3.461,0.000
5818,BRA,Brazil,2018,209468992.0,wind_electricity,48.475,0.000
7231,BRA,Brazil,2018,209468992.0,other_renewable_electricity,53.911,0.000
8644,BRA,Brazil,2018,209468992.0,coal_electricity,22.241,0.000
10057,BRA,Brazil,2018,209468992.0,gas_electricity,51.345,0.000
11470,BRA,Brazil,2018,209468992.0,oil_electricity,11.422,0.000
12883,BRA,Brazil,2018,209468992.0,biofuel_elec_per_capita,257.370,257.370
14296,BRA,Brazil,2018,209468992.0,hydro_elec_per_capita,1838.368,1838.368
15709,BRA,Brazil,2018,209468992.0,nuclear_elec_per_capita,74.827,74.827
17122,BRA,Brazil,2018,209468992.0,solar_elec_per_capita,16.523,16.523
18535,BRA,Brazil,2018,209468992.0,wind_elec_per_capita,231.419,231.419
19948,BRA,Brazil,2018,209468992.0,coal_elec_per_capita,106.177,106.177
21361,BRA,Brazil,2018,209468992.0,gas_elec_per_capita,245.121,245.121
22774,BRA,Brazil,2018,209468992.0,oil_elec_per_capita,54.529,54.529

In [45]:
def clean_production(row):
    if row['per_capita'] != 0:
        value = 0
    else:
        value = row['production']
    return value


df['production'] = df.apply(clean_production, axis=1)

df

,iso_code,country,year,population,fuel,production,per_capita
0,AFG,Afghanistan,2014,33371000.0,biofuel_electricity,0.0,0.0
1,AFG,Afghanistan,2015,34414000.0,biofuel_electricity,0.0,0.0
2,AFG,Afghanistan,2016,35383000.0,biofuel_electricity,0.0,0.0
3,AFG,Afghanistan,2017,36296000.0,biofuel_electricity,0.0,0.0
4,AFG,Afghanistan,2018,37172000.0,biofuel_electricity,0.0,0.0
...,...,...,...,...,...,...,...
24016,ZWE,Zimbabwe,2015,13815000.0,oil_elec_per_capita,0.0,0.0
24017,ZWE,Zimbabwe,2016,14030000.0,oil_elec_per_capita,0.0,0.0
24018,ZWE,Zimbabwe,2017,14237000.0,oil_elec_per_capita,0.0,0.0
24019,ZWE,Zimbabwe,2018,14439000.0,oil_elec_per_capita,0.0,0.0
24020,ZWE,Zimbabwe,2019,14645000.0,oil_elec_per_capita,0.0,0.0

In [46]:
df.loc[(df['country'] == 'Brazil') & (df['year'] == 2018)]

,iso_code,country,year,population,fuel,production,per_capita
166,BRA,Brazil,2018,209468992.0,biofuel_electricity,53.911,0.000
1579,BRA,Brazil,2018,209468992.0,hydro_electricity,385.081,0.000
2992,BRA,Brazil,2018,209468992.0,nuclear_electricity,15.674,0.000
4405,BRA,Brazil,2018,209468992.0,solar_electricity,3.461,0.000
5818,BRA,Brazil,2018,209468992.0,wind_electricity,48.475,0.000
7231,BRA,Brazil,2018,209468992.0,other_renewable_electricity,53.911,0.000
8644,BRA,Brazil,2018,209468992.0,coal_electricity,22.241,0.000
10057,BRA,Brazil,2018,209468992.0,gas_electricity,51.345,0.000
11470,BRA,Brazil,2018,209468992.0,oil_electricity,11.422,0.000
12883,BRA,Brazil,2018,209468992.0,biofuel_elec_per_capita,0.000,257.370
14296,BRA,Brazil,2018,209468992.0,hydro_elec_per_capita,0.000,1838.368
15709,BRA,Brazil,2018,209468992.0,nuclear_elec_per_capita,0.000,74.827
17122,BRA,Brazil,2018,209468992.0,solar_elec_per_capita,0.000,16.523
18535,BRA,Brazil,2018,209468992.0,wind_elec_per_capita,0.000,231.419
19948,BRA,Brazil,2018,209468992.0,coal_elec_per_capita,0.000,106.177
21361,BRA,Brazil,2018,209468992.0,gas_elec_per_capita,0.000,245.121
22774,BRA,Brazil,2018,209468992.0,oil_elec_per_capita,0.000,54.529

In [47]:
df['fuel'] = df['fuel'].str.replace('_elec_per_capita', '')
df['fuel'] = df['fuel'].str.replace('_electricity', '')

df['fuel'].unique()

array(['biofuel', 'hydro', 'nuclear', 'solar', 'wind', 'other_renewable',
       'coal', 'gas', 'oil'], dtype=object)

In [48]:
df = df.drop(df[df['country'] == 'World'].index)

df['country'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia Pacific', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Eastern Africa', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (other)',
       'Faeroe Islands', 'Falkland Islands ', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Middle Africa',
       'Middle East', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'OPEC', 'Oman',
       'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia',
       'South & Central America', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Pacific Islands',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Africa', 'Western Sahara',
       'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

In [49]:
df_final = df.groupby(['iso_code', 'country', 'year', 'population', 'fuel']).sum().reset_index()

# df_final.loc[(df_final['country'] == 'India') & (df_final['year'] == 2018)]
df_final.loc[(df_final['country'] == 'India') & (df_final['year'] >= 2014) & (df_final['year'] <= 2019)]

,iso_code,country,year,population,fuel,production,per_capita
4671,IND,India,2014,1.295601e+09,biofuel,25.545,19.717
4672,IND,India,2014,1.295601e+09,coal,824.173,636.132
4673,IND,India,2014,1.295601e+09,gas,43.185,33.332
4674,IND,India,2014,1.295601e+09,hydro,130.328,100.593
4675,IND,India,2014,1.295601e+09,nuclear,34.747,26.819
4676,IND,India,2014,1.295601e+09,oil,1.840,1.420
4677,IND,India,2014,1.295601e+09,other_renewable,25.545,0.000
4678,IND,India,2014,1.295601e+09,solar,5.850,4.515
4679,IND,India,2014,1.295601e+09,wind,37.340,28.821
4680,IND,India,2015,1.310152e+09,biofuel,16.743,12.780
4681,IND,India,2015,1.310152e+09,coal,871.914,665.506
4682,IND,India,2015,1.310152e+09,gas,40.515,30.924
4683,IND,India,2015,1.310152e+09,hydro,132.260,100.950
4684,IND,India,2015,1.310152e+09,nuclear,38.153,29.121
4685,IND,India,2015,1.310152e+09,oil,0.383,0.292
4686,IND,India,2015,1.310152e+09,other_renewable,17.019,0.000
4687,IND,India,2015,1.310152e+09,solar,6.566,5.012
4688,IND,India,2015,1.310152e+09,wind,32.741,24.991
4689,IND,India,2016,1.324517e+09,biofuel,15.655,11.819
4690,IND,India,2016,1.324517e+09,coal,936.233,706.848
4691,IND,India,2016,1.324517e+09,gas,50.212,37.909
4692,IND,India,2016,1.324517e+09,hydro,128.611,97.100
4693,IND,India,2016,1.324517e+09,nuclear,37.884,28.602
4694,IND,India,2016,1.324517e+09,oil,0.315,0.238
4695,IND,India,2016,1.324517e+09,other_renewable,15.863,0.000
4696,IND,India,2016,1.324517e+09,solar,11.556,8.725
4697,IND,India,2016,1.324517e+09,wind,43.453,32.806
4698,IND,India,2017,1.338677e+09,biofuel,13.478,10.068
4699,IND,India,2017,1.338677e+09,coal,972.939,726.791
4700,IND,India,2017,1.338677e+09,gas,50.256,37.542
4701,IND,India,2017,1.338677e+09,hydro,135.865,101.492
4702,IND,India,2017,1.338677e+09,nuclear,38.438,28.714
4703,IND,India,2017,1.338677e+09,oil,0.249,0.186
4704,IND,India,2017,1.338677e+09,other_renewable,13.819,0.000
4705,IND,India,2017,1.338677e+09,solar,21.545,16.094
4706,IND,India,2017,1.338677e+09,wind,52.629,39.314
4707,IND,India,2018,1.352642e+09,biofuel,16.148,11.938
4708,IND,India,2018,1.352642e+09,coal,1024.706,757.559
4709,IND,India,2018,1.352642e+09,gas,50.257,37.155
4710,IND,India,2018,1.352642e+09,hydro,141.331,104.485
4711,IND,India,2018,1.352642e+09,nuclear,38.120,28.182
4712,IND,India,2018,1.352642e+09,oil,0.213,0.158
4713,IND,India,2018,1.352642e+09,other_renewable,16.562,0.000
4714,IND,India,2018,1.352642e+09,solar,36.331,26.859
4715,IND,India,2018,1.352642e+09,wind,60.311,44.588
4716,IND,India,2019,1.366418e+09,biofuel,14.680,10.743
4717,IND,India,2019,1.366418e+09,coal,998.538,730.771
4718,IND,India,2019,1.366418e+09,gas,47.980,35.114
4719,IND,India,2019,1.366418e+09,hydro,161.741,118.369
4720,IND,India,2019,1.366418e+09,nuclear,45.163,33.052
4721,IND,India,2019,1.366418e+09,oil,0.108,0.079
4722,IND,India,2019,1.366418e+09,other_renewable,15.063,0.000
4723,IND,India,2019,1.366418e+09,solar,46.273,33.864
4724,IND,India,2019,1.366418e+09,wind,63.308,46.332

In [50]:
df_final.to_csv('reworked_dataset.csv',index=False)